{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">Latest entries</h1>
    </div>
    <div class="row">
        <div class="col-sm-12 blog-main">
            {% for entry in entries %}
                {% set paragraphs = entry.content|split('</p>') %}
                {% set firstParagraph = paragraphs|first ~ '</p>' %}
                <div class="blog-post">
                    <h2 class="blog-post-title">
                        <a href="{{ path('entry', {'slug': entry.slug}) }}">
                            {{ entry.title }}
                        </a>
                    </h2>
                    <p class="blog-post-meta">
                        {{ entry.getCreationDate|date('F j, Y') }} by
                        {% if entry.user %}
                            <a href="{{ path('user', {'name': entry.user.username|url_encode }) }}">
                                {{ entry.user.username }}
                            </a>
                        {% else %}
                            Unknown User
                        {% endif %}
                    </p>
                    <blockquote>{{ firstParagraph|raw }}</blockquote>
                    <a href="{{ path('entry', {'slug': entry.slug}) }}">Read more</a>
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    You have no entries. Please log in and create an entry.
                </div>
            {% endfor %}
            {% set canPrevious = page > 1 %}
            {% set canNext = (page * entryLimit) < totalEntries %}
            <nav>
                <ul class="pager">
                    <li class="previous {% if canPrevious == false %}disabled{% endif %}">
                        <a href="{% if canPrevious %}{{ path('entries', {'page': page - 1}) }}{% endif %}">
                            <span aria-hidden="true">&larr;</span> Newer
                        </a>
                    </li>
                    <li class="next {% if canNext == false %}disabled{% endif %}">
                        <a href="{% if canNext %}{{ path('entries', {'page': page + 1}) }}{% endif %}">
                            Older <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}