{% extends "base.html.twig" %}
{% block title %}{{ user.username|raw }}{% endblock %}
{% block body %}
<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">About</h1>
    </div>
    <div class="row">
        <div class="col-sm-12 blog-main">
            <div class="blog-post">
                <span class="glyphicon glyphicon-user"></span>
                <span>{{ user.username|raw }}</span><br />
                <span class="glyphicon glyphicon-envelope"></span>
                <span>{{ user.email|raw }}</span><br />                
                {% if user.getTwitter %}
                    <p class="glyphicon glyphicon-comment"></p>
                    <span>{{ user.twitter|raw }}</span>
                {% endif %}               
            </div>
        </div>

        <!-- User entries container -->
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                {% for entry in entries %}
                    {% set paragraphs = entry.content|split('</p>') %}
                    {% set firstParagraph = paragraphs|first ~ '</p>' %}
                    <div class="blog-post">
                        <h2 class="blog-post-title">
                            <a href="{{ path('entry', {'slug': entry.slug}) }}">
                                {{ entry.title }}
                            </a>
                        </h2>
                        <p class="blog-post-meta">
                            {{ entry.getCreationDate|date('F j, Y') }} by
                            {% if entry.user %}
                                <a href="{{ path('user', {'name': entry.user.username|url_encode }) }}">
                                    {{ entry.user.username }}
                                </a>
                            {% else %}
                                Unknown User
                            {% endif %}
                        </p>
                        <blockquote>{{ firstParagraph|raw }}</blockquote>
                        <a href="{{ path('entry', {'slug': entry.slug}) }}">Read more</a>
                    </div>
                {% else %}
                    <div class="alert alert-info" role="alert">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        You have no entries.
                    </div>
                {% endfor %}
                <button type="button" class="btn btn-info" onclick="history.go(-1);">Back</button>
            </div>
        </div>

        <!-- Twittwer container -->
        {% if user.twitter %}
            <div class="col-sm-4">
                <!-- <a class="twitter-timeline" data-height="500" href="https://twitter.com/{{user.twitter}}"></a> -->
                <!-- <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
                
                <div class="twitter">
                    <h1>Tweets</h1><span>by @{{user.twitter}}</span>
                    <div id="twitter">
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<script>
    $(document).ready(function() 
    {
        refreshTweets();
    });

    function refreshTweets(){
        $("#twitter").empty();

        $.ajax({
            type: "POST",
            url: `${this.document.URL}/getTwitters`,
            success: function (result) {
                for(var i = 0; i < result.length; i++){
                    var data = result[i];
                    var button = "";
                    {% if (app.user) and (app.user.username == user.username) %}
                        button = `<a href="javascript:${!data.hidden ? `hideTweet('${data.id}')` : `showTweet('${data.id}')`}">${!data.hidden ? 'Hide' : 'Show'}</a>`;
                    {% endif %}

                    $("#twitter").append(`<div class="tweet"><blockquote>${data.text}</blockquote>${button}</div>`)
                }
            }
        });
    }

    function hideTweet(id){
        $.ajax({
            type: "POST",
            url: "/user/addTweet",
            data: { id: id},
            success: function (result) {
            refreshTweets();
            }
        });
    }
    
    function showTweet(id){
        $.ajax({
            type: "POST",
            url: "/user/deleteTweet",
            data: { id: id},
            success: function (result) {
                refreshTweets();
            }
        });
    }
</script>
{% endblock %}